<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/output.css" rel="stylesheet" />
</head>
<body>
    
    <form method="POST" action="/auth/logout">
        <button type="submit">logout</button>
    </form>
    <h1>Welcome, Admin!</h1>
    <p>User ID: <%= userId %></p>
    <p>User Role: <%= userRole %></p>
    <p>User Email: <%= userEmail %></p>
    <a href="/admin/dashboard" class="btn btn-primary">Kembali</a>

    <script src="/preline/preline.js"></script>

</body>
</html>