<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <title>Daftar Akun</title>
</head>
<body>


    <!-- Hero -->

    <a href="/admin/dashboard" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Kembali</a>

<form method="POST" action="/admin/daftarAkun">
          <div class="mt-6 grid gap-4 lg:gap-6">
            <!-- Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
              <div>
                <label for="noAnggota" class="block mb-2 text-sm text-gray-700 font-medium">No Anggota</label>
                <input type="text" name="noAnggota" id="noAnggota" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
              </div>

              <div>
                <label for="namaAnggota" class="block mb-2 text-sm text-gray-700 font-medium">Nama Anggota</label>
                <input type="text" name="namaAnggota" id="namaAnggota" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
              </div>
            </div>
            <!-- End Grid -->

            <div>
              <label for="password" class="block mb-2 text-sm text-gray-700 font-medium">Password</label>
              <input type="text" name="password" id="password" class="py-3 px-4 block w-full border border-gray-400 rounded-lg text-sm focus:border-gray-400 focus:ring-0" placeholder="1234567 (default)" readonly>
            </div>
          </div>

            <div>
              <label for="email" class="block mb-2 text-sm text-gray-700 font-medium">Email</label>
              <input type="email" name="email" id="email" autocomplete="email" autocomplete="email" class="py-3 px-4 block w-full border border-gray-400 rounded-lg text-sm focus:border-gray-400 focus:ring-0" placeholder="email@gmail.com (default)" readonly>
            </div>

            <div>
              <label for="jabatan" class="block mb-2 text-sm text-gray-700 font-medium">Jabatan</label>
              <input type="text" name="jabatan" id="jabatan" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
            </div>

            <div>
              <label for="noHp" class="block mb-2 text-sm text-gray-700 font-medium">No Hp</label>
              <input type="text" name="noHp" id="noHp" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
            </div>
          </div>

          <div class="mt-6 grid">
            <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Submit</button>
          </div>

        </form>

  <script src="/preline.js"></script>

</body>
</html>