<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <title>Daftar Akun</title>
</head>
<body>


    <!-- Hero -->

    <a href="/admin/dashboard" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Kembali</a>

<div class="relative overflow-hidden mt-36">
    <div class="mx-auto max-w-screen-md py-12 px-4 sm:px-6 md:max-w-screen-xl md:py-20 lg:py-32 md:px-8">
      <div class="md:pe-8 md:w-1/2 xl:pe-0 xl:w-5/12">
        <!-- Title -->
        <h1 class="text-3xl text-gray-800 font-bold md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">
          Daftar Akun <span class="text-blue-600">Asisten</span>
        </h1>
        <p class="mt-3 text-base text-gray-500">
          Web Absensi Asisten Lab Departemen Sistem Informasi
        </p>
        <!-- End Title -->

        <!-- Form -->
        <form>
          <div class="mb-4">
            <label for="hs-hero-name-2" class="block text-sm font-medium"><span class="sr-only">No Anggota</span></label>
            <input type="text" id="hs-hero-name-2" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="No Anggota">
          </div>
  
          <div class="mb-4">
            <label for="hs-hero-password-2" class="block text-sm font-medium"><span class="sr-only">Password</span></label>
            <input type="email" id="hs-hero-password-2" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Password">
          </div>
  
          <div class="grid">
            <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Sign up</button>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
  
    <div class="hidden md:block md:absolute md:top-0 md:start-1/2 md:end-0 h-full bg-[url('https://images.unsplash.com/photo-1606868306217-dbf5046868d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1981&q=80')] bg-no-repeat bg-center bg-cover"></div>
    <!-- End Col -->
  </div>
  <!-- End Hero -->

  <script src="/preline.js"></script>

</body>
</html>