<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ini Admin</h1>
    <form method="POST" action="/logout">
        <button type="submit">logout</button>
    </form>

    <h1>Welcome, Admin!</h1>
    <p>User ID: <%= userId %></p>
    <p>User Name: <%= userName %></p>
    <p>User Email: <%= userEmail %></p>
    <p>User Role: <%= userRole %></p>
    <a href="/admin/daftarAkun" class="btn btn-primary">Daftar Akun</a> <br>
    <a href="/admin/akun" class="btn btn-primary">Detail</a>
   
  
</body>
</html>