<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <title><%= title %></title>
</head>
<body>

  <div class="content-center ml-96 mt-56">
    <h1>Ini Admin</h1>

    <h1>Welcome, Admin!</h1>  
</div>

<%- include('sidebar') %>

      <script src="/preline.js"></script>
  
</body>
</html>