<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/output.css" rel="stylesheet" />
</head>
<body>
    <%- include('sidebar') %>
    <p style="width: 70%; position: absolute; left: 20%; top: 15%;" >ini halaman laporan pertemuan</p>
    <script src="/preline.js"></script>
</body>
</html>