<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="form-box">
                <h1 class="block text-xl font-bold text-gray-800 mb-2">Sign In SILAB</h1>
                <form method="POST" action="/login">
                    <div class="mt-4">
                        <label for="id" class="block text-sm text-gray-700">No Anggota:</label>
                        <input type="text" id="id" name="id" class="mt-2 w-full border rounded-md px-3 py-2" required>
                    </div>
                    <div class="mt-4">
                        <label for="password" class="block text-sm text-gray-700">Password:</label>
                        <input type="password" id="password" name="password" class="mt-2 w-full border rounded-md px-3 py-2" required>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md mt-2">Sign in</button>
                    </div>
                </form>
                <div class="mt-5 text-center">
                    <a class="text-sm font-medium" href="/tamu">
                        <span class="text-gray-700">Masuk sebagai</span> <span class="text-blue-600 decoration-2 hover:underline">tamu</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="navy-box"></div>
    </div>
</body>
</html>
