<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Profile</h1>
  <% if (user) { %>
    <p>Nama: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
  <% } else { %>
    <p>No user found.</p>
  <% } %>
  <form class ="px-4" action="/ubah-password" method="POST">
    <div class="nb-3">
      <label for="exampleInputPassword1" class="form-label">Password Saat Ini</label>
      <input type="password" name="currentPassword" class="form-control" id="exampleInputPassword1" name="currentPassword">
    </div>
    <div class="nb-3">
      <label for="exampleInputPassword1" class="form-label">Password Baru</label>
      <input type="password" name="newPassword" class="form-control" id="exampleInputPassword1" name="newPassword">
      <button type="submit" class="btn btn-primary">Ubah Password</button>
    </div>
      </label>
    </div>
  </form>
</body>
</html>