<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Jadwal Piket - Aslab</title>
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <link href="/css/tailwind.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="flex">
        <%- include('sidebar') %>
  <!-- Invoice -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto my-4 sm:my-10">
    <div class=" mx-auto">
      <!-- Card -->
      <div class="flex flex-col p-4 sm:p-10 bg-white shadow-md rounded-xl dark:bg-neutral-800">
  
        <!-- Grid -->
        <div class="mx-auto">
          <div>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">Jadwal Piket Harian</h3>
          </div>
          <!-- Col -->
  
          <div class="sm:text-end space-y-2">
          </div>
          <!-- Col -->
        </div>
        <!-- End Grid -->
  
        <!-- Table -->
        <div class="mt-6">
          <div class="border border-gray-200 p-4 rounded-lg space-y-4 dark:border-neutral-700">
            <div class="hidden sm:grid sm:grid-cols-6">
              <div class="sm:col-span-2 text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">No</div>
              <div class="text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Nomor Anggota</div>
              <div class="text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Nama</div>
              <div class="text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Jam Masuk </div>
              <div class="text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Jam Keluar </div>
            </div>
  
            <div class="hidden sm:block border-b border-gray-200 dark:border-neutral-700"></div>
  
            <div class="grid grid-cols-3 sm:grid-cols-5 gap-2">
              <div class="col-span-full sm:col-span-2">
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Item</h5>
                <p class="font-medium text-gray-800 dark:text-neutral-200">No</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Qty</h5>
                <p class="text-gray-800 dark:text-neutral-200">Nomor anggota</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Rate</h5>
                <p class="text-gray-800 dark:text-neutral-200">Nama</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Amount</h5>
                <p class="sm:text-end text-gray-800 dark:text-neutral-200">$500</p>
              </div>
            </div>
  
            <div class="sm:hidden border-b border-gray-200 dark:border-neutral-700"></div>
  
            <div class="grid grid-cols-3 sm:grid-cols-5 gap-2">
              <div class="col-span-full sm:col-span-2">
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Item</h5>
                <p class="font-medium text-gray-800 dark:text-neutral-200">Web project</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Qty</h5>
                <p class="text-gray-800 dark:text-neutral-200">1</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Rate</h5>
                <p class="text-gray-800 dark:text-neutral-200">24</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Amount</h5>
                <p class="sm:text-end text-gray-800 dark:text-neutral-200">$1250</p>
              </div>
            </div>
  
            <div class="sm:hidden border-b border-gray-200 dark:border-neutral-700"></div>
  
            <div class="grid grid-cols-3 sm:grid-cols-5 gap-2">
              <div class="col-span-full sm:col-span-2">
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Item</h5>
                <p class="font-medium text-gray-800 dark:text-neutral-200">SEO</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Qty</h5>
                <p class="text-gray-800 dark:text-neutral-200">1</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Rate</h5>
                <p class="text-gray-800 dark:text-neutral-200">6</p>
              </div>
              <div>
                <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Amount</h5>
                <p class="sm:text-end text-gray-800 dark:text-neutral-200">$2000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Table -->
  
        <!-- Flex -->
        <div class="mt-8 flex sm:justify-end">
          <div class="w-full max-w-2xl sm:text-end space-y-2">
          </div>
        </div>
        <!-- End Flex -->
  
        <p class="mt-5 text-sm text-gray-500 dark:text-neutral-500">© 2022 Preline.</p>
      </div>
      <!-- End Card -->
  
      <!-- Buttons -->
      <div class="mt-6 flex justify-end gap-x-3">
        <a class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-lg border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-neutral-800 dark:hover:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-white dark:focus:ring-offset-gray-800" href="#">
        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="7 10 12 15 17 10"/><line x1="12" x2="12" y1="15" y2="3"/></svg>
          Invoice PDF
        </a>
        <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" href="#">
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 6 2 18 2 18 9"/><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"/><rect width="12" height="8" x="6" y="14"/></svg>
          Print
        </a>
      </div>
      <!-- End Buttons -->
    </div>
  </div>
  <!-- End Invoice -->
    <script src="./node_modules/preline/dist/preline.js"></script>
</body>
</html>
