<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div class="container">
        <div class="form-container">
            <div class="feedback-box">
                <form method="POST" action="/feedback">
                    <div class="mt-4">
                        <label for="name" class="block text-sm text-gray-700">Nama:</label>
                        <input type="text" id="name" name="name" class="mt-2 w-full border rounded-md px-3 py-2" required>
                    </div>
                    <div class="mt-4">
                        <label for="email" class="block text-sm text-gray-700 mt-2">E-Mail:</label>
                        <input type="email" id="email" name="email" class="mt-2 w-full border rounded-md px-3 py-2" required>
                    </div>
                    <div class="mt-4">
                        <label for="feedback" class="block text-sm text-gray-700 mt-2">Masukan dan Saran:</label>
                        <textarea name="feedback" id="feedback" class="block w-full px-3 py-2 border border-gray-300 rounded-md" rows="4"></textarea>
                    </div>
                    <div class="btn-container">
                        <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 hover:border-blue-600 hover:text-blue-600 text-black disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-black dark:hover:text-blue-500 dark:hover:border-blue-600">
                            Batal
                        </button>
                        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md ml-4" style="margin-left: 16px;">Kirim</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="navy-box"></div>
    </div>

</body>

</html>
